body{
    margin: 0;
}

nav{
    background-color: #b35f86;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 100px;
    width: 100%;
}

/* logo e titulo */


nav .logoImg a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 10%;
    text-decoration:none;
    margin-left: 60px;
}

/* logo de cima, mãozinha */
nav img{ 
    height: auto;
    width: 50px;
}

/* título */
nav h1{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


.divLinks{
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    display: flex;
    width:60%;
    margin-left: 10px;
}

.divLinks a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* login */
nav .loginCadastro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

nav .loginCadastro a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bolder;
}
nav .loginCadastro p{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
}


/* imagens no footer */
footer{
    display: flex;
    justify-content: flex-start;
    height: 70px   ;
    background-color: #FFA1CD;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:20%;
}

footer div img{
    height: 25px;
    width: 25px;
}