body{
    margin:0;
    background-color:#ffcbe3
}

.mainlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.loginclass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loginclass div input{
    background-color: white;
}

.loginclass div h1{
    font-family: 'Satisfy', cursive;
}