body{
    margin: 0;
    background-color: #ffcbe3;
}

#antes{
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    z-index: 10;
    position: fixed;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#subtitle {
    display: flex;
    justify-content: center;
}

#depois {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    z-index: 10;
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: #b35f86;
}

/* logo e titulo */


nav .logoImg a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 10%;
    text-decoration:none;
    margin-left: 60px;
}

/* logo de cima, mãozinha */
nav img{ 
    height: auto;
    width: 50px;
}

/* título */
nav h1{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


.divLinks{
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    display: flex;
    width:60%;
    margin-left: 20px;
}

.divLinks a {
    color: white;
    text-decoration: none;
    margin-left: 35px;
}
.divLinks a:hover{
border-bottom: 2px solid #4db34f;
}
/* login */
nav .loginCadastro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
}

nav .loginCadastro a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bolder;
}
nav .loginCadastro p{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* foto de background */

header{
    background-image: url("../img/relacionamento-abusivo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
}

/* colocar o header escuro */

#escuro{
    background-color: rgba(0, 0, 0, 0.58);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* escritas no header */

#divFrases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

#divFrases p{
    font-family: 'Satisfy', 'cursive';
    font-size: 100px;
    color: white;
    margin-bottom: 0;
}

#escuro span{
    width: 40vw;
    height: 3px;
    background-color: #4db34f;
}

#escuro #subtitle{
    width: 40%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* parte do quem nós somos */

section{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section #divQuem{
    font-family: 'Satisfy', 'cursive';
}

#divQuem p{
    font-size:50px;
    margin-bottom: 0;
}

#divTexto{
    width: 70%;
}

#divTexto p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Parte de depoimentos do site */

#mainDep{
    width: 100%;
    height: 400px;
    background-color: white;
}

#idDep{
    font-family: 'Satisfy', 'sans-serif';
    font-size: 50px;
}

/* parte de pontos de ajuda do site */

aside{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

#idTexto{
    display: block;
    width: 40%;
}

#idTexto p{
    font-family: 'Satisfy', 'cursive';
    font-size: 50px;
    margin-bottom: 0;
}

#idTexto h4{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 20px;
    text-align: justify;
}

/* imagens no footer */
footer{
    display: flex;
    justify-content: center;
    height: 70px   ;
    background-color: #b35f86;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:20%;
}

footer div img{
    height: 25px;
    width: 25px;
}
