body{
    margin:0;
    background-color:#ffcbe3;
    height: 100vh;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section div{
    display: flex;
    justify-content: center;
    align-items: center;

}
section p{
    display: flex;
    justify-content:center;
    text-align: justify; 
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    height: 5px;
    margin: 50px;
}

.equipeClass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipeClass img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 160px;
    width: 285px;
    margin: 10px;
}

.socialClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.equipeClass a img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 20px;
}

