{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <title>Cadastro</title>
</head>
<body>
    {% block content %}
    <main class="cadastro">
        <h2>Cadastro</h2>
        {% if mensagem %}
        <p>{{ mensagem }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Cadastar</button>                
        </form>
        <div>
            <a href="/">Voltar</a>
            <a href="/login">Entrar</a>
        </div>
    </main>
    {% endblock %}    
</body>
</html>