{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="py-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <title>Cadastro</title>
</head>
<body>
    {% block content %}
    <div class="cadastro">
        <form action="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Cadastar</button>                
        </form>
        <a href="/">voltar</a>
    </div>
    {% endblock  %}    
</body>
</html>