{% extends 'usuario.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/comunidade.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Comunidade</title>
</head>
<body>
    {% block content %}
    <main class="comunidade">
        <h2>Meus Depoimentos</h2>
        <div id="depimentosX">
            {% for i in depoimentosX %}
            <div class="card">
                <h3>{{ i.titulo_depoimento}}</h3>
                <img src="/{{i.imagem.url}}" alt="imagem">
                <p>{{ i.depoimento}}</p>
                <p>Autora: {{ i.nome}}</p>
            </div>
            {% endfor %}                
        </div>
        <div>
            <a href="/painel_usuario">Voltar</a>
        </div>
    </main>
    {% endblock %}
</body>
</html>