{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/comunidade.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Comunidade</title>
</head>
<body>
    {% block content %}
    <main>
        <div class="comunidadeClass">
            <h2>Comunidade</h2>
        </div>
            <div class="depoimentoClass">
                <textarea rows="20" cols="100" placeholder="Escreva seu depoimento"></textarea>
            </div>
            <div class="respostaClass">
                <button type="submit" value="Responder">Responder</button>
            </div>
            
    </main>
    {% endblock %}
</body>
</html>