{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/comunidade.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Comunidade</title>
</head>
<body>
    {% block content %}
    <main class="mainClass">
        <section>
            <div class="comunidadeClass">
                <h2>Comunidade</h2>
            </div>
            <div class="depoimentoClass">
                <textarea rows="15" cols="90" placeholder="Escreva seu depoimento"></textarea>
            </div>
            <div class="respostaClass">
                <button type="submit" value="Responder">Enviar</button>

            </div class="privacidadeClass">
            <form name="input"action="html_form_action.asp"method="get">
            Anônimo: 
            <input type="radio" name="Privacity"value="anonimo" checked><br>
            Público: 
            <input type="radio" name="Privacity"value="publico"><br>
            
        </form> 
        <div>
        </div>
    </section>   
    
</main>
{% endblock %}
</body>
</html>