{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" href="/static/img/feminismo-logo.png">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Demoday</title>
</head>

<body>
    
    {% block content %}
        <form action="POST">
            <input type="hidden" id="csrf_token" value='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

            {{ form }}
            
        <main class="mainlogin">
            <main class="loginclass">
                <div>
                  <h1>Login</h1>
                </div>
                <div>
                    <img src="/app/static/img/icons8-male-user-32.png" alt="">
                    <input type="login" name= "usuário">
                </div>
                
                <div>
                    <img src="/app/static/img/icons8-key-24.png" alt="">
                    <input type="password" name= "senha">
                </div>
                <button href="https://www.google.com" type="submit" value="Entrar">Entrar</button>
            </main>
        </main>
        </form>
    
    {% endblock %}   
</body>
</html>