{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/pagina_inicial.css' %}">
    <link rel="shortcut icon" href="{% static 'img/feminismo-logo.png' %}">
    <title>Pagina Inicial</title>
</head>
<body>
    {% block content %}    
    <header>
        <main id="escuro">
            <div id="divFrases">
                <p>Seja</p>
            </div>
            
            <span></span>
            
            <div id="subtitle">
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis illo ullam dolor molestiae quos quis, fugiat mollitia rem quibusdam blanditiis accusamus sint iste culpa explicabo quae voluptatibus! Itaque, deleniti ut!</h3>
            </div>
        </main>
    </header>

    <section>
        
    </section>
    {% endblock %}    
</body>
</html>