{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Sobre nós</title>
</head>
{% block content %}
<main class="sobreClass">
    <section>
        <div>
            <h2>Sobre a equipe</h2>
        </div>
        <div class="equipeClass">
            <img src="{% static 'img/equipe.jpg' %}" alt="foto da equipe">
        </div>
        <div class="textoClass">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, libero aperiam provident vitae nam ducimus quisquam deserunt soluta veniam, autem eaque aut, odit consectetur. Facilis, sequi. Officiis ipsum nulla doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, cumque omnis nemo reiciendis deserunt, quos facilis natus blanditiis iusto fuga ullam voluptatem aliquam ab odit cum aperiam necessitatibus molestias quibusdam.
            </p>
        </div>
        <div class="sociaisClass">
            <a href=""><img src="{% static 'img/email.png' %}" alt="email"></a>
            <p>email.mail@email.com</p>
        </div>
    </section>
    <aside>
        <div>
            <h2>Sobre o projeto</h2>
        </div>
        <div class="projetoClass">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, libero aperiam provident vitae nam ducimus quisquam deserunt soluta veniam, autem eaque aut, odit consectetur. Facilis, sequi. Officiis ipsum nulla doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, cumque omnis nemo reiciendis deserunt, quos facilis natus blanditiis iusto fuga ullam voluptatem aliquam ab odit cum aperiam necessitatibus molestias quibusdam.
            </p>
        </div>
    </aside>
</main>
{% endblock %}
<body>
    
</body>
</html>