{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Sobre nós</title>
</head>
<body>
    {% block content %}
    <main class="sobreClass">
        <section>
            <div>
                <h2>Sobre a equipe</h2>
            </div>
            <div class="equipeClass">
                <img src="{% static 'img/equipe.jpg' %}" alt="foto da equipe">
            </div>
            <div class="textoClass">
                <p>
                    Somos um grupo formado por Daniela (25 anos), Gabriel (18 anos), Gustavo (20 anos) e Jenifer.
                    Todos nós do grupo, fomos vítimas ou vivemos com alguém que passou por um relacionamento abusivo e com esse desejo de poder ajudar ao próximo, surgiu a ideia de criar um site para que não somente as estatísticas negativas, mas também a vida dessas pessoas que estão nessa situação tão difícil possa ser mudada.
                    Não esperamos mudar o mundo, mas esperamos que nossa contribuição possa inspirar e unir outras pessoas para um bem maior. 
                    
                    “ Não importa o que fizeram com você. O que importa é o que você faz com aquilo que fizeram com você. ”   Jean Paul Sartre. 
                </p>
            </div>
            <div class="sociaisClass">
                <a href=""><img src="{% static 'img/email.png' %}" alt="email"></a>
                <p>site.sejaempoderada@gmail.com</p>
            </div>
        </section>
        <aside>
            <div>
                <h2>Sobre o projeto</h2>
            </div>
            <div class="projetoClass">
                <p>
                    Devido ao espantoso número crescente de feminicídios e agressões contra mulheres no Brasil derivados de relacionamentos abusivos, nos sentimos no dever de criar uma plataforma onde as vítimas ou ex-vítimas possam interagir a fim de superar seus traumas. Entendemos que para todos os tipos de abusos em uma relação, a interação e apoio de pessoas que já passaram pela mesma experiência são de suma importância para superar e empoderar uma outra que tenha dificuldades no tocante a assumir a situação ou ao medo em denunciar. Mediante a esta situação, pretendemos reduzir as estatísticas negativas com um trabalho de aconselhamento e empoderamento feminino.
                </p>
            </div>
        </aside>
    </main>
    {% endblock %}    
</body>
</html>